<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-2 justify-content-between">
        <div class="container">
            <a class="navbar-brand" href="#">
                <h2>
                    <span style="background-color: #f4c613; color: #212226;" class="badge badge-secondary">BlackTicket</span>
                </h2>
            </a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="" placeholder="Search for cities" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Find</button>
            </form>
        </div>
    </nav>
</header>