<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="../../../assets/mortal-engines-et00049704-28-11-2016-09-18-11.jpg" alt="movie-poster"
          style="height: 354px; width: 278px;">
      </div>
    </div>
    <div class="col-sm-9">
      <div class="card">
        <div class="embed-responsive embed-responsive-21by9">
          <iframe width="560" height="315" src="{{ movie.trailer }}" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
